<!--
  Copyright (c) 2020 azeti GmbH
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<script type="text/javascript">
    RED.nodes.registerType('event', {
        category: 'azeti',
        color: '#e9967a',
        defaults: {
            name: {value: ""},
            sensorId: {value: ""},
            state: {value: ""},
            severity: {value: ""},
            outputMessage: {value: ""}
        },
        inputs: 1,
        outputs: 1,
        icon: "alert.svg",
        labelStyle: function () {
            return this.name ? "node_label_italic" : "";
        },
        label: function () {
            return this.name || this.state || this.sensorId || "event";
        }
    });
</script>

<script type="text/html" data-template-name="event">
    <div class="form-row">
        <label for="node-input-sensorId"><i class="fa fa-tasks"></i> Sensor ID</label>
        <input type="text" id="node-input-sensorId" placeholder="Sensor ID">
    </div>
    <div class="form-row">
        <label for="node-input-state"><i class="fa fa-envelope"></i> State</label>
        <input type="text" id="node-input-state" placeholder="State">
    </div>
    <div class="form-row">
        <label for="node-input-severity">
            <i class="fa fa-exclamation-circle"></i> <span>Severity</span>
        </label>
        <select id="node-input-severity" style="width:125px !important">
            <option value=""></option>
            <option value="0">OK</option>
            <option value="100">WARNING</option>
            <option value="200">CRITICAL</option>
        </select>
    </div>
    <div class="form-row">
        <label for="node-input-outputMessage"><i class="fa fa-envelope"></i> Output msg.</label>
        <input type="text" id="node-input-outputMessage" placeholder="Output message">
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-tips">
        <span>Tip: Leave Sensor ID, output message, state or severity blank if you want to set them via msg.</span>
    </div>
</script>

<script type="text/html" data-help-name="event">
    <p>Creates an event object, according to an input message or a node properties.</p>
    <h3>Inputs</h3>
    <dl class="message-properties">
        <dt>payload <span class="property-type">string | object</span></dt>
        <dd>A string representing the state message, or a JavaScript object containing both
            historical data fields, as well some state configuration specific fields.</dd>
        <dt>topic <span class="property-type">string</span></dt>
        <dd>specifies the Sensor ID of the associated payload.</dd>
    </dl>
    <h3>state configuration fields</h3>
    <dl class="message-properties">
        <dt>state <span class="property-type">string</span></dt>
        <dd>A string representing the state message.</dd>
        <dt>severity <span class="property-type">string | number</span></dt>
        <dd>specifies the severity level of an event. If it is a number, it accepts a range [0,200].
        If it is a string, it is translated in the respective numeric values:
            <ul>
                <li><b>OK</b> - 0</li>
                <li><b>WARNING</b> - 100</li>
                <li><b>CRITICAL</b> - 200</li>
                <li><b>Any other string</b> - 0</li>
            </ul>
        </dd>
        Default 0.
        <dt>output <span class="property-type">string</span></dt>
        <dd>If defined, sets a detailed state message, should be used to explain the condition that
            raised the event.</dd>
    </dl>
    <h3>Outputs</h3>
    <dl class="message-properties">
        <dt>payload <span class="property-type">object</span></dt>
        <dd>the JavaScript Object representation of the event.</dd>
        <dt>topic <span class="property-type">string</span></dt>
        <dd>Sensor ID defined in a previous <code>sensor id setter</code> node or by Sensor ID property.</dd>
    </dl>
    <h3>Event Object</h3>
    <dl class="message-properties">
        <dt>state <span class="property-type">string</span></dt>
        <dd>value provided in the <code>msg.payload</code> or in state property, contains the basic message
            associated to the event.</dd>
        <dt>sensor_id <span class="property-type">string</span></dt>
        <dd>Sensor ID provided in the <code>msg.topic</code> or in Sensor ID property.</dd>
        <dt>severity <span class="property-type">number</span></dt>
        <dd>specifies the severity level of an event, this may be a value in the range [0,200], where 0
            means not severe, and 200 highly severe.</dd>
        <dt>timestamp <span class="property-type">string</span></dt>
        <dd>ISO 8601 representation of the current time, with millisecond accuracy and Zulu timezone.</dd>
        <dt>hd <span class="property-type">array</span></dt>
        <dd>array containing a historical data object which are relevant for the raising of the event.</dd>
        <dt>output <span class="property-type">string</span></dt>
        <dd>optional field containing a detailed message for the event.</dd>
    </dl>
    <h3>Details</h3>
    <p>Sensor ID can be configured in the node or, if left blank, can be set by <code>msg.topic</code>.</p>
    <p>State, severity and output can also be configured in the node or, if left blank, can
        be set by <code>msg.payload</code>, assuming an object with the correct fields is received.</p>
    <p>In the case <code>msg.payload</code> contains the expected fields for a historical data object,
        this object will be added to the hd array.</p>
</script>