<!--
  Copyright (c) 2020 azeti GmbH
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<script type="text/javascript">
    RED.nodes.registerType('historical data', {
        category: 'azeti',
        color: '#e9967a',
        defaults: {
            name: {value: ""},
            sensorId: {value: ""}
        },
        inputs: 1,
        outputs: 1,
        icon: "status.svg",
        labelStyle: function() {
            return this.name?"node_label_italic":"";
        },
        label: function () {
            return this.name || this.sensorId || "historical data";
        }
    });
</script>

<script type="text/html" data-template-name="historical data">
    <div class="form-row">
        <label for="node-input-sensorId"><i class="fa fa-tasks"></i> Sensor ID</label>
        <input type="text" id="node-input-sensorId" placeholder="Sensor ID">
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-tips">
        <span>Tip: Leave Sensor ID blank if you want to set them via msg topic.</span>
    </div>
</script>

<script type="text/html" data-help-name="historical data">
    <p>Convert primitive JavaScript types in historical data objects.</p>
    <h3>Inputs</h3>
    <dl class="message-properties">
        <dt>payload <span class="property-type">string | number | boolean</span></dt>
        <dd>a primitive JavaScript type containing the source value for the historical data.</dd>
        <dt>topic <span class="property-type">string</span></dt>
        <dd>specifies the Sensor ID of the associated payload.</dd>
    </dl>
    <h3>Outputs</h3>
    <dl class="message-properties">
        <dt>payload <span class="property-type">object</span></dt>
        <dd>the JavaScript Object representation of the historical data.</dd>
        <dt>topic <span class="property-type">string</span></dt>
        <dd>Sensor ID defined in a previous <code>sensor id setter</code> node or in Sensor ID property.</dd>
    </dl>
    <h3>Historical Data Object</h3>
    <dl class="message-properties">
        <dt>value <span class="property-type">string | number | boolean</span></dt>
        <dd>value provided in the <code>msg.payload</code>.</dd>
        <dt>sensor_id <span class="property-type">string</span></dt>
        <dd>Sensor ID provided in the <code>msg.topic</code> or by Sensor ID property.</dd>
        <dt>processing_level <span class="property-type">number</span></dt>
        <dd>identify an error during the get of a reading, currently hardcoded to 0 (no error).</dd>
        <dt>timestamp <span class="property-type">string</span></dt>
        <dd>ISO 8601 representation of the current time, with millisecond accuracy and Zulu timezone.</dd>
    </dl>
    <h3>Details</h3>
    <p>Sensor ID can be configured in the node or, if left blank, can be set by <code>msg.topic</code>.</p>
</script>