<!--
  Copyright (c) 2020 azeti GmbH
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<script type="text/javascript">
    RED.nodes.registerType('sensor id setter', {
        category: 'azeti',
        color: '#e9967a',
        defaults: {
            name: {value: ""},
            sensorId: {value: "", required: true}
        },
        inputs: 1,
        outputs: 1,
        icon: "envelope.svg",
        labelStyle: function () {
            return this.name ? "node_label_italic" : "";
        },
        label: function () {
            return this.name || this.sensorId || "sensor id setter";
        }
    });
</script>

<script type="text/html" data-template-name="sensor id setter">
    <div class="form-row">
        <label for="node-input-sensorId"><i class="fa fa-tasks"></i> Sensor ID</label>
        <input type="text" id="node-input-sensorId" placeholder="Sensor ID">
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/html" data-help-name="sensor id setter">
    <p>Set the topic of a message as the Sensor ID, which is useful for labeling several
        data sources connected to one historical data and event nodes.</p>
    <h3>Inputs</h3>
    <dl class="message-properties">
        <dt>payload <span class="property-type">any</span></dt>
        <dd>any object or JavaScript type that can be fed to event or historical data nodes.</dd>
    </dl>
    <h3>Outputs</h3>
    <dl class="message-properties">
        <dt>payload <span class="property-type">any</span></dt>
        <dd>the same object provided as payload on the input.</dd>
        <dt>topic <span class="property-type">string</span></dt>
        <dd>it will be the same value as provided in <code>Sensor ID</code>.</dd>
    </dl>
    <h3>Details</h3>
    <p>This node will replace <code>msg.topic</code> of the input message by the specified
        <code>Sensor ID</code>.
    The main purpose of this node is to be used before event and historical data nodes as a way to
        label several data sources in a more organized way.</p>
</script>